/* ALL */


:root{
  --main-color:#333333;
  --second-color:#edcf65;
  --third-color: #616161;
  --fourth-color:#89ce94;
  --fifth-color: #222222;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body{
  font-family: myFonts;
  background-color: var(--main-color);
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing: border-box;
  
}


@font-face {
  font-family: myFonts;
  src: url(Fonts/tommy.otf);
}






/*/////////////////////////////////////////////////*/
/* //////////////////// NAV ////////////////////// */
/*/////////////////////////////////////////////////*/

.bgcolor{
  transition: ease-in-out 0.7s;
  background-color: var(--fifth-color);
}

.navbar{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding: 1em;
  z-index: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar a{
  color: var(--second-color);
  position: relative;
} 

.nav-links ul li a::after{
  content: "";
  position: absolute;
  width: 0;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--second-color);
  height: 0.2rem;
  transition: 0.3s;
}

.navbar .nav-links ul li a:hover::after{
  content: "";
  width: 100%;
}

.nav-links ul li a::before{
  content: "";
  position: absolute;
  width: 0;
  top: -8px;
  right: 0;
  bottom: 0;
  background-color: var(--second-color);
  height: 0.2rem;
  transition: 0.3s;

}

.navbar .nav-links ul li a:hover::before{
  content: "";
  width: 100%;
}

.navbar .nav-links ul li.active a{
  font-weight: 600;
  position: relative;
}

#edrlogo{
  width: 8rem;
  filter: invert(96%) sepia(97%) saturate(816%) hue-rotate(325deg) brightness(96%) contrast(94%);
}

#officiel{
  position: relative;
  display: flex;
  justify-content: center;
  width: 8rem;
}

#officiel img{
  filter: invert(96%) sepia(97%) saturate(816%) hue-rotate(325deg) brightness(96%) contrast(94%);
}


#officiel a p{
  position: absolute;
  opacity: 0;
  cursor: default;
}

#officiel a:hover p{
  opacity: 100%;
  top: 45px;
  left: -10px;
  height: 2.5em;
  background-color: var(--fourth-color);
  padding: 1em;
  border-radius: 1em;
  width: 10em;
  font-size: 1em;
  transition: ease-in 0.1s;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;
}

.menu-hamburger{
  width: 50px;
  position: absolute;
  right: 30px;
  display: none;
  cursor: pointer;
}

/* MEDIA QUERY NAV */

@media screen and (max-width:800px){
  #edrlogo{
    filter: invert(100%);
  }
  .navbar{
    justify-content: space-between;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(-45deg, var(--second-color), var(--fourth-color));
  }
  .navbar #officiel img{
    display: none;
  }
  #officiel{
    display: none;
  }
  .navbar .blason{
    width: 10vw;
  }
  #edrlogo{
    width: 30vw;
  }
  .navbar .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%; 
  }
  .nav-links ul li a::before, .nav-links ul li a::after{
    content: "";
    display: none;
  }
  .nav-links.mobile-menu{
    margin-left: 0;
  }

  .navbar .nav-links ul{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 70vh;
    align-items: center;
    background-color: var(--fifth-color);
    width: 25vh;
    position: inherit;
    right: 0;
    height: 100vh;
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.281);
  }
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.2em;
    
  }
  .navbar .menu-hamburger{
    position: absolute;
    right:10px;
    display: block;
    width: 13vw;
  }
  .navbar a{
    color: var(--fourth-color);

  }
}






/*//////////////////////////////////////////////////////////*/
/*////////////////////// ACCUEIL ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

header{
  height: 100vh;
  display: flex;
  width:100%;
  display: grid;
  place-items: center;
  margin-top: -4vh;
  position: relative;
}

header a{
  position: absolute;
  right: 6rem;
  bottom: 7rem;
  height: 6rem;
  width: 6rem;
  border-radius: 100%;
  /* background-color: var(--fifth-color); */
  display: grid;
  place-items: center;
}

.fleche {
  border: solid var(--second-color);
  border-width: 0 8px 8px 0;
  display: inline-block;
  padding: 1rem;
  position: relative;
  top: -0.4rem;
}

.bas {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.titre{
  font-size: 5vw;
  margin-top: -7rem;
  color: var(--second-color);
  text-shadow: 0 0 0.3em #edcf656e;
  position: relative;
  transition: 0.3s;
}

.titre:hover{
  transition: ease-in 0.3s;
  text-shadow: 0 0 0.5em var(--second-color);
}

.titre::before{
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--second-color);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 60%;
  transition: 0.3s;
}

.titre:hover::before{
  transition: ease-in 0.3s;
  opacity: 100%;
}


#text-accueil-mobile{
  display:none;
  font-size: 10vw;
  position: absolute;
  background: -webkit-linear-gradient(0.4turn, var(--second-color), var(--fourth-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


#presentation{
  height: auto;
  padding-top: 15rem;
  max-width: 1300px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

#presentation h1{
  text-align: center;
  font-size: 3rem;
  color: var(--second-color);
  text-shadow: 0 0 0.8em var(--second-color);
  padding-bottom: 2em;
}

#explication{
  text-align: center;
  padding: 2em;
  padding-top: 0;
  font-size: 2rem;
  color: var(--second-color);
}

.portfolio{
  display: flex;
  justify-content: space-between;
}

.categorie{
  background-color: var(--second-color);
  max-width: 300px;
  padding: 2rem;
  margin: 3rem;
  border-radius: 2rem;
  text-align: center;
}

.categorie p{
  padding-top: 1.3em;
  font-size: 1.5rem;
  line-height: 1.4;
}

.categorie img{
  width: 5rem;
}

/* MEDIA QUERY ACCUEIL */

@media screen and (max-width:800px){
  .titre{
    display: none;
  }
  .portfolio{
    flex-direction: column;
  }
  .categorie{
    background-color: var(--fourth-color);
    margin: 0 auto;
    margin-bottom: 5rem;
  }
  #explication{
    color: var(--fourth-color);
  }
  #presentation h1{
    color: var(--fourth-color);
    text-shadow: 0 0 0.8em var(--fourth-color);
  }
  header a{
    right: 2rem;
    bottom: 4rem;
    height: 6rem;
    width: 6rem;
  }
  .fleche{
    border: solid var(--fourth-color);
    border-width: 0 8px 8px 0;
  }
}






/*//////////////////////////////////////////////////////////*/
/*//////////////////////// MAIN ////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

.main-accueil{
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
}

.main-text{
  z-index: 0;
  padding: 8rem;
  padding-left: 6rem;
  padding-top: 28vh;
  font-size: 11vh;
  transform: skewY(-11deg);
  color: var(--second-color);
  text-shadow: 0 0px 40px var(--second-color), 5px 4px 0 #726b05;
}

#stade{
  position: absolute;
  z-index: -1;
  right: 0;
  height: 100vh;
  filter: saturate(0);
  transition: .4s;
}

#stade:hover{
  transition: ease-in .4s;
  filter: saturate(100%);
}






/*//////////////////////////////////////////////////////////*/
/*////////////////////// FOOTER ///////////////////////////*/
/*//////////////////////////////////////////////////////////*/

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fifth-color);
  height: 8rem;
  padding-top: 4em;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2em;
}


footer p{
  font-size: 1.6em;
  height: auto;
  width: screen;
  color: var(--third-color);
  display: flex;
}

.footer-logos{
  padding-top: 1rem;
  height: 4rem;
  filter: saturate(0);
}

#insta{
  filter:  brightness(60%);
  margin :0.3rem;
  width: 3rem;
}

#twitter{
  filter:  brightness(70%);
  margin: 0.3rem;
  width: 3.2rem;
  
}

#arobase{
  font-size: 1.4rem;
  margin: 0.3rem;
  position: relative;
  left: 8rem;
  top: -3rem;
  width: 8rem;
}

#contact{
  float: right;
}

#mail{
  position: relative;
  top: -5rem;
  font-size: 1.4rem;
  color: rgb(227, 227, 227);
  right: -73rem;

}

/* MEDIA QUERY FOOTER */

@media screen and (max-width: 800px){
  header{
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  #text-accueil-mobile{
    display: flex;
    text-transform: uppercase;
    max-width: 80vw;
    font-size: calc(1rem + 3vh);
  }
  header{
    height: 100vh;
  }
  #stade{
    display: none;
  }
  .main-text{
    display: none;
  }
  #contact{
    display: none;
  }
  #mail{
    display: none;
  }
  footer{
    padding-bottom: 4em;
  }
}






/*///////////////////////////////////////////////////////*/
/*////////////////////// EFFECTIF ///////////////////////*/
/*///////////////////////////////////////////////////////*/

.tab{
  max-width: 50rem;
  text-align: center;
  margin-top: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-bottom: 2rem;
}

#gardiens, #defenseurs, #milieux, #attaquants{
  text-align: center;
  width: 70%;
  margin-top: 25px;
  margin: 0 auto;
  margin-bottom: 25px;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

#gardiens div, #defenseurs div, #milieux div, #attaquants div{
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.joueurs{
  width: 100px;
  margin: 1rem;
  border-radius: 1.2em;
  background-color: var(--second-color);
  text-align: center;
  transition: .2s;
}

.joueurs:hover{
  transition: ease-in .2s;
  box-shadow: 0px 0px 20px var(--second-color); 
}

.role{
  text-transform: uppercase;
  color: var(--second-color);
  margin-inline: auto;  
  font-size: 35px;
  padding: 1.3em;
  text-align: center;
}

/* MEDIA QUERY EFFECTIF */

@media screen and (max-width:900px){
  #gardiens, #defenseurs, #milieux, #attaquants{
    justify-content: space-around;
  }
  .tab{
    width: 30rem;
  }
  .categorie{
    font-size: 2em;
  }
  .joueurs{
    background-color: var(--fourth-color);
  }
  .joueurs:hover{
    box-shadow: 0px 0px 20px var(--fourth-color); 
  }
  .role{
    color: var(--fourth-color);
  }
}






/*//////////////////////////////////////////////////////////*/
/*/////////////////////// QUIZ /////////////////////////////*/
/*//////////////////////////////////////////////////////////*/

#quiz{
  margin: 20vh auto;
}

form{
  width: 70%;
  height: 100vh;
  border: none;
  outline: none;
  color: var(--second-color);
}
  
fieldset{
  color: var(--second-color);
  border: none;
}

h1{
  padding: 1rem;
  text-align: center;
}

h3{
  text-align: center;
  padding-bottom: 2rem;
}

#reponse{
  margin: 0 auto;
  margin-top: 1rem;
  width: 40%;
}

.submitbtn{
  border: none;
  background-color: var(--second-color);
  margin-left: 20%;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 1rem;
  font-family: myFonts;
  cursor: pointer;
}
