/* ALL */


:root{
  --main-color:#333333;
  --second-color:#edcf65;
  --third-color: #616161;
  --fourth-color:#89ce94;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
  font-family: myFonts;
  background-color: var(--main-color);
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing: border-box;
  
}


@font-face {
    font-family: myFonts;
    src: url(Fonts/tommy.otf);
}


/* //////////////////// NAV ////////////////////// */

.navbar{
  position: sticky;
  top:0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  padding:1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(-45deg, var(--second-color), var(--fourth-color));
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
  z-index: 1;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.navbar a{
    color: rgb(0, 0, 0);
    position: relative;
} 

.nav-links ul li a::after{
  content: "";
  position: absolute;
  width: 0;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  height: 0.2rem;
  transition: 0.3s;
}

.navbar .nav-links ul li a:hover::after{
  content: "";
  width: 100%;
}

.nav-links ul li a::before{
  content: "";
  position: absolute;
  width: 0;
  top: -8px;
  right: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  height: 0.2rem;
  transition: 0.3s;

}


.navbar .nav-links ul li a:hover::before{
  content: "";
  width: 100%;
}

.navbar .nav-links ul li.active a{
    font-weight: 600;
    position: relative;
}

/* .navbar .nav-links ul li.active a::before{
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  height: 0.2rem;
  width: 100%;

}

.navbar .nav-links ul li.active a::after{
  content: "";
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  height: 0.2rem;
  width: 100%;
} */






.navbar .blason{
  width: 3em;
  align-items: left;
  filter: saturate(0)
            opacity(90%);
  display: flex;
}

.navbar .nav-links ul {
  display: flex;
  padding-left:75px;
}

.navbar .nav-links{
  display: flex;
  align-items: center;
}

.navbar .nav-links ul li{
  margin: 0 25px;
  display: flex;
}

.menu-hamburger{
  width: 50px;
  position: absolute;
  right: 30px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width:800px){
  .navbar a:hover{
    color: rgb(155, 0, 0);
    font-size: 105%;
  }
  .navbar{
    padding: 10px;
  }
  .navbar .blason{
    width: 10vw;
  }
  .navbar .nav-links{
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100%; 
    
  }

  .nav-links.mobile-menu{
    margin-left: 0;
  }

  .navbar .nav-links ul{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width:120Vh;
  }
  .navbar .nav-links ul li{
    margin: 25px 0;
    font-size: 1.2em;
  }
  .navbar .menu-hamburger{
    position: absolute;
    right:10px;
    display: block;
    width: 13vw;
  }
}


/*////////////////////// ACCUEIL //////////////////////////////////////////////*/

header{
  height: 100vh;
  display: flex;
  width:100%;
  display: grid;
  place-items: center;
  margin-top: -4vh;
}


/* #text-accueil{
  display: none;
  font-size: 6rem;
  width:100vw;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-top: 1.5em;
} */


.titre{
  font-size: 8rem;
  color: var(--second-color);
  text-shadow: 0 0 0.3em #edcf656e;
  position: relative;
  transition: 0.3s;
}

.titre:hover{
  transition: ease-in 0.3s;
  text-shadow: 0 0 0.5em var(--second-color);
}

.titre::before{
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: var(--second-color);
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 60%;
  transition: 0.3s;
}

.titre:hover::before{
  transition: ease-in 0.3s;
  opacity: 100%;
}


#text-accueil-mobile{
  display:none;
  font-size: 10vw;
  position: absolute;
  background: -webkit-linear-gradient(0.4turn, var(--second-color), var(--fourth-color));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


#presentation{
  height: auto;
  padding-top: 15rem;
}

#presentation h1{
  text-align: center;
  font-size: 3rem;
  color: var(--fourth-color);
  text-shadow: 0 0 0.8em var(--fourth-color);
  padding-bottom: 2em;
}

#explication{
  text-align: center;
  padding: 2em;
  padding-top: 0;
  font-size: 2rem;
  color: var(--fourth-color);
}

.portfolio{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
}

.categorie p{
  padding-top: 1.3em;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 1.4;
}

.categorie img{
  width: 8rem;
}



/* #text-accueil p :nth-child(1){
  color:black;
  animation: slidein2 1s none 0ms;
}

#text-accueil p :nth-child(2){
  color:rgb(255, 0, 0);
  animation: slidein2 1.2s none 0ms;

}

#text-accueil p :nth-child(3){
  color:rgb(255, 221, 0);
  animation: slidein2 1.4s none 0ms;

} */

/* 
@keyframes slidein2 {
  from {
    display: block;
    opacity: 0%;
    margin-left: 5%;
    width: 300%;
  }

  to {
    display: flex;
    margin-left: 0%;
    width: 100%;
  }
} */

/*/////////////////////// ANIM TEL /////////////////////////////////*/

/*
.animtel1 {
  animation-duration: 1s;
  animation-name: slideintel;
  animation-delay: 0ms;
}

.animtel2 {
  animation-duration: 1.2s;
  animation-name: slideintel;
  animation-delay: 0ms;
}

.animtel3 {
  animation-duration: 1.4s;
  animation-name: slideintel;
  animation-delay: 0ms;
}

.animtel4 {
  animation-duration: 1.6s;
  animation-name: slideintel;
  animation-delay: 0ms;

}.animtel5 {
  animation-duration: 1.8s;
  animation-name: slideintel;
  animation-delay: 0ms;
}


@keyframes slideintel {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

*/




/*//////////////////////////////////////////////////////////////////*/


.main-accueil{
  /* -webkit-box-shadow: 0px 16px 46px 29px rgba(0,0,0,0.4);  */
  /* box-shadow: 0px 16px 46px 29px rgba(0,0,0,0.4); */
  height: 100vh;
  width: 100%;
  background-color: var(--main-color);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: space-between;
}

.main-text{
  z-index: 0;
  padding: 8rem;
  padding-left: 6rem;
  padding-top: 28vh;
  font-size: 11vh;
  transform: skewY(-11deg);
  color: #FFFFFF;
  text-shadow: 0 0px 40px #FFF, 5px 4px 0 #7A7A7A;
}

#stade{
  position: absolute;
  z-index: -1;
  right: 0;
  height: 100vh;
  filter: saturate(0);
  transition: .4s;
}

#stade:hover{
  transition: ease-in .4s;
  filter: saturate(100%);
}



footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-color);
  height: auto;
  padding: 2em;
}


footer p{
  font-size: 1.6em;
  height: auto;
  width: screen;
  color: white;
  display: flex;
}

.footer-logos{
  padding-top: 1rem;
  height: 4rem;
}

#insta{
  margin :0.3rem;
  filter: saturate(80%) brightness(90%);
  width: 3rem;
}

#twitter{
  margin: 0.3rem;
  filter: saturate(80%) brightness(90%);
  width: 3.2rem;
  
}

#arobase{
  font-size: 1.4rem;
  color: rgb(227, 227, 227);
  margin: 0.3rem;
  position: relative;
  left: 8rem;
  top: -3rem;
  width: 8rem;
}

#contact{
  float: right;
}

#mail{
  position: relative;
  top: -5rem;
  font-size: 1.4rem;
  color: rgb(227, 227, 227);
  right: -73rem;

}

@media screen and (max-width: 800px){
  header{
    height: 100vh;
    display: flex;
    justify-content: center;
  }
  .titre{
    display: none;
  }
  #text-accueil-mobile{
    display: flex;
    width: 80vw;
    font-size: calc(1rem + 5vh);
  }
  header{
    height: 100vh;
  }
  #stade{
    display: none;
  }
  .main-text{
    display: none;
  }
  #contact{
    display: none;
  }
  #mail{
    display: none;
  }
}

/*///////////////////////////////////////////////////////*/
/*////////////////////// EFFECTIF ///////////////////////*/
/*///////////////////////////////////////////////////////*/

.tab{
    width: 70%;
    text-align: center;
    overflow:auto;
    table-layout:fixed;
    margin-top: 25px;
    margin: auto;
    margin-bottom: 25px;
    
}

.joueurs{
    width: 100px;
    border-radius: 1.2em;
    background-color: var(--second-color);
    text-align: center;
    transition: .2s;
}

.joueurs:hover{
    transition: ease-in .2s;
    box-shadow: 0px 0px 20px var(--second-color); 
}

.categorie{
  text-transform: uppercase;
  color: var(--second-color);  
  font-size: 35px;
  padding: 1.3em;
  margin: auto;
  width: 70%;
  text-align: center;
  overflow:auto;
  table-layout:fixed;
  margin-top: 25px;
}


@media screen and (max-width:700px){
  .tab{
    width: 30rem;
    z-index: 9999;
  }
  .joueurs{
    width:70px;
  }
  .categorie{
    font-size: 2em;
  }
  .joueurs:hover{
    width:57%;
  }
  

}


/*//////////////// EFFECTIF RESPONSIVE ///////////////////*/

@media screen and (max-width:480px){

  .tab{
    width:100vw;
  }
  .joueurs{
    width: 20vw;
  }
  .categorie{
    font-size: 10vw;
  }
  .joueurs:hover{
    width:80%;
  }

}